@font-face{
    font-family: built titling;
    src:url(assets/fonts/built\ titling\ bd.ttf)
}

body,
html{
    margin: auto;
    margin: 0;
    background-color:lightgrey;
    
}

.container{
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-left{
    /* border-color: red;
    border-style: dashed; */
    height:100vh;
    width:55%; 
    display: flex;
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */
}

.col{
    width:34%;
    margin: auto;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.col h1{
    margin: auto;
    font-size: 17vw;
    height: 940px;
    color:white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: lighter;
    font-family: built titling;
}

.container-right{
    padding-left: 2%;
    width:100%;
    height: 930px;

}

.top-image-container{
    left: 5%;
    width: 400px;
    height: 490px;
    overflow: hidden;
}

.top-image-container img{
    width: 100%;
    height: 490px;
    object-fit:cover;
    z-index: -100;
}

.name{
    position:relative;
    text-align: center;
    margin: auto;
    margin-left: 270px;
    margin-top: -100px;
    height: 240px;
    width: 300px;
    height: 350px;
    z-index: -2px;
}

.name h1{
    font-size: 100px;
    color: white;
    position: absolute;
    z-index: 2;
    font-family: built titling;
}

.bottom-image-container{
    position: absolute;
    margin: auto;
    right: 5%;
    bottom: 0;
    width: 420px;
    height: 280px;
}

.bottom-landing-page-container{
    margin: auto;
    bottom: 0;
    height: 160px;
}

.bottom-image-container img{
    width:100%;
    height:280px;
    object-fit: fill;
    z-index: -2;
}

.landing-page-text{
    margin: auto;
    margin-left: 0;
    /* margin-top:30%; */
    width:230px;
    color: white;
}

.landing-page-text p{
    margin: auto;
    left: 0;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}


.geometry{
    margin: auto;
    position: relative;
    /* height: 400px; */
    bottom:615px;
}


svg{
	position: relative;
    margin: auto;
    top: -20px;
    left:235px;
    /* height: 600;
    width: 600; */

}

.circle {
  stroke-dasharray: 1200;
  stroke-dashoffset: 0;
  fill:white;
  animation: stroke 4s forwards;
}

@keyframes stroke {
  from {
    stroke-dashoffset: 1000;
  }
}


.diagonal{
    margin: auto;
    position: relative;
    border-style:solid;
    color: white;
    border-width: 1px;
    transform: skewY(135deg);
    width:500px;
    bottom: 250px;
}




